<section class="kotlin-overview-section _get-kotlin" id="get-kotlin">
    <h2 class="section-header">Kotlin 시작하기</h2>

    <p class="kotlin-version">{{ site.data.releases.latest.version }}</p>

    <div class="section-content">
        <div class="get-kotlin-options-list">
            <div class="option-item _standalone-compiler">
                <div class="option-image _standalone-compiler"></div>
                <div class="option-title-pre-text">Standalone</div>
                <h3 class="option-title">Compiler</h3>

                <p class="option-description">
                    커맨드 라인이나 Ant, Gradle, Maven 등의 빌드 툴을 이용하여 컴파일할 수 있습니다.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.baseurl }}/docs/tutorials/command-line.html"
                       class="option-link">컴파일러 다운로드</a>
                </div>
            </div>

            <div class="option-item _intellij-idea">
                <div class="option-image _intellij-idea"></div>
                <div class="option-title-pre-text">Use</div>
                <h3 class="option-title">IntelliJ IDEA</h3>

                <p class="option-description">
                    Kotlin은 무료 Community Edition, IntelliJ IDEA Ultimate, Android Studio에서도 동작합니다.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.baseurl }}/docs/tutorials/getting-started.html"
                       class="option-link">
                      플러그인 설정
                    </a>
                </div>

            </div>

            <div class="option-item _source-code">
                <div class="option-image _source-code"></div>
                <div class="option-title-pre-text">Use</div>
                <h3 class="option-title">Eclipse</h3>

                <p class="option-description">
                    Eclipse Luna의 Kotlin 플러그인 프리뷰 버전을 설치할 수 있습니다.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.baseurl }}/docs/tutorials/getting-started-eclipse.html"
                       class="option-link">
                      플러그인 설정
                    </a>
                </div>
            </div>

            <div class="option-item _try-online">
                <div class="option-image _try-online"></div>
                <div class="option-title-pre-text">In the browser</div>
                <h3 class="option-title">Try Online</h3>

                <p class="option-description">
                    브라우저에서 직접 Kotlin 코드 샘플들을 둘러보고 문제를 해결해보세요.
                </p>


                <div class="option-link-wrap">
                    <a href="http://try.kotlinlang.org"
                       class="option-link">
                        온라인 체험
                    </a>
                </div>
            </div>
        </div>


        <div class="overview-popup _hidden js-popup"
             id="setting-up-idea-option-popup">
            <div class="popup-content">
                <h3>Setting Up IntelliJ IDEA</h3>

                <h4>Milestone Versions</h4>
                <p>
                    A stable milestone version of Kotlin can be obtained from JetBrains <a href="#">Plugin Repository</a>.
                    <br>
                    In IDEA navigate to: Settings -> Plugins -> Browse Repositories
                    <br>
                    Select the Kotlin plugin and then Download and Install.
                </p>

                <h4>Using the Kotlin Nightly Builds</h4>
                <p>In IDEA navigate to: Preferences -> Plugins -> Browse Repositories. Enter:</p>
                <ul>
                    <li>
                        for IntelliJ IDEA 13 EAP:<br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.5: <br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml?branch=idea12</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.4 and below: download manually, see instructions below.
                    </li>
                </ul>

                <p>Then you should be able to select the Kotlin plugin and Download and Install. The repository above contains nightly builds published automatically.</p>
            </div>

            <div class="popup-close-button js-popup-close-button"
                 data-popup-id="setting-up-idea-option-popup"></div>
        </div>
    </div>
</section>