<h3>만능</h3>

<p>어떤 타입의 애플리케이션이든 빌드할 수 있도록 해주는 여러가지 목적의 언어입니다.</p>

<div class="logos-list">
    <p class="logos-list-item">
        <span class="logo _android" title="Android"></span>
        <span class="description">
            Android 개발.<br>
            성능에 영향 없습니다.<br>
            매우 작은 런타임.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _tomcat" title="Tomcat"></span>
        <span class="description">
            애플리케이션 서버.<br>
            기술은 상관없습니다. 모든 JVM 프레임워크와 100% 호환됩니다.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _js" title="JavaScript"></span>
        <span class="description">
            JavaScript. Node.js나 브라우저에서 실행되는 JavaScript를 타겟으로 하여 Kotlin으로 코딩할 수 있습니다.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _javaee" title="JavaEE"></span>
        <span class="description">
            Enterprise. 어떤 타입의 Enterprise Java EE 개발이라도 Kotlin을 사용할 수 있습니다.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _html5" title="HTML5"></span>
        <span class="description">
            웹. 단단하게 타입된 HTML, CSS 빌더 혹은 순수한 웹 개발.
        </span>
    </p>
</div>